%p#notice= notice

%p
  %b Date:
  = @timestamp.date
%p
  %b Start:
  = @timestamp.starttime
%p
  %b End:
  = @timestamp.endtime
%p
  %b Duration:
  = @timestamp.duration

= link_to 'Edit', edit_timestamp_path(@timestamp)
\|
= link_to 'Back', timestamps_path
