#calendar
  .row
    .col-sm-4.col-md-2.left
      = link_to content_tag(:i, '', class: 'fa fa-angle-double-left'), :date => (@date.beginning_of_month-1).strftime("%Y-%m-%d")
    .col-sm-4.col-md-8.center
      .uppercase= @date.strftime("%B %Y")
    .col-sm-4.col-md-2.right
      = link_to content_tag(:i, '', class: 'fa fa-angle-double-right'), :date => (@date.end_of_month+1).strftime("%Y-%m-%d")


  .row
    -@month.each do |date|
      .col-sm-2.col-md-1
        .day
          - if date.weekend?
            %span.weekend= date.day
          - elsif date.holiday?
            %span.holiday= date.day
          - elsif date.today?
            %span.today
              = link_to date.day, date: date.strftime("%Y-%m-%d")
          - elsif @timetracks.keys.include? date
            %span.recorded
              = link_to date.day, date: date.strftime("%Y-%m-%d")
          - else
            %span
              = link_to date.day, date: date.strftime("%Y-%m-%d")





/ #calendar
/   #calendar-head.center
/     %h2.month-switcher.row
/       .col-md-2.left= link_to "<<", :date => (@date.beginning_of_month-1).strftime("%Y-%m-%d")
/       .col-md-8
/         .uppercase= @date.strftime("%B %Y")
/       .col-md-2.right= link_to ">>", :date => (@date.end_of_month+1).strftime("%Y-%m-%d")
/   #calendar-body.center
/     .row
/       .col-md-12
/         %table
/           %thead
/             %tr
/             -WEEKDAYS.each do |weekday|
/               %th= weekday
/           %tbody
/             -@days.each do |week|
/               %tr
/                 - week.each do |date|
/                   - if date
/                     %td{:class => "#{'bl' if [0, 6].include? week.index(date)}#{'active' if date == @date}"}
/                       - if date.weekend?
/                         %h1.weekend= date.day
/                       - elsif date.holiday?
/                         %h1.holiday= date.day
/                         %span.small=date.holidays.first[:name] if date.holidays #TODO: fix regions issue date.holidays(:de)!!!
/                       -else
/                         -if @timetracks.has_key?(date)
/                           - if @timetracks[date].finish
/                             %a.date-select{ :href=>"#", "data-date" => "#{date.strftime("%Y-%m-%d")}",
/                               "data-title" => "#{date.strftime("%Y-%m-%d")}",
/                               "data-content" => "#{@timetracks[date].start.strftime("%H:%M")} - #{@timetracks[date].finish.strftime("%H:%M") unless @timetracks[date].finish == 0} - #{@timetracks[date].human_friendly}" }
/                               %h1.recorded= date.day
/                           - else
/                             %a.date-select{:href=>"#", "data-date" => "#{date.strftime("%Y-%m-%d")}" }
/                               %h1.recorded= date.day
/                         -else
/                           %a.date-select{:href=>"#", "data-date" => "#{date.strftime("%Y-%m-%d")}" }
/                             %h1= date.day

/                   - else
/                     %td
/                       &nbsp;
