= form_for @timetrack, :html=> {:id=> "timetrack-form", :class=>"form-inline"} do |f|
  = f.date_select :date, {}, {:class => "hidden"}

  .input-append
    = f.text_field :start, :class => "input-medium", :placeholder => "start"
    %button.btn.now
      %i.icon-time

  .input-append
    = f.text_field :finish, :class => "input-medium", :placeholder => "finish"
    %button.btn.now
      %i.icon-time

  = f.text_field :duration, :class => "input-small", :placeholder => "hh:mm", :readonly=>true
  %button.btn.btn-success{"data-new-record" => "#{@timetrack.new_record?}"}
    %i.icon-ok
    = (@timetrack.new_record?)? "CREATE" : "UPDATE"

  - unless  @timetrack.new_record?
    %button.btn.btn-danger.destroy{"data-id"=> @timetrack.id }
      %i.icon-remove
