= form_for @timetrack, html: { id: 'form' } do |f|
  = f.text_field :date, {class: 'hidden'}

  .top
    = render 'live_clock'

  .middle
    .new_record.hidden= @timetrack.new_record?
    .row
      .col-sm-6.col-md-6
        = f.time_select(:start, {}, { class: 'timetrack_start'})
        %p started
      .col-sm-6.col-md-6
        = f.time_select(:finish, {}, { class: 'timetrack_finish'})
        %p finished

    .form-group
      %label duration:
      %duration= @timetrack.duration_in_words
      %label pause:
      %pause= @timetrack.pause

    .form-group
      %balance
        %strong
          = @timetrack.balance.to_time(:long)
          = "(#{@timetrack.duration_in_percent})%"

  .bottom
    .btn-group
      - if @timetrack.new_record?
        = f.button 'Create', class: 'btn btn-success btn-left outset'
        &nbsp;
        = link_to '#', class: 'btn btn-info btn-right btn-slider outset', title: 'Day off', data: { toggle: 'tooltip'} do
          %i.fa.fa-ban
      - else
        = f.button 'Update', class: 'btn btn-success btn-left outset'
        &nbsp;
        = link_to @timetrack, class: 'btn btn-danger btn-right outset', data: { confirm: 'Are you sure?'}, method: :delete  do
          %i.fa.fa-trash-o
