= @date.inspect
= form_for @timetrack do |f|
  = f.date_select :date, {}, {:class => "hidden"}
  .row-fluid
    .span4
      %p 
        start time
        = f.text_field :start
      %p 
        end time
        = f.text_field :finish
      %button.btn{"data-new-record" => "#{@timetrack.new_record?}"}= (@timetrack.new_record?)? "CREATE" : "UPDATE"
       
