= form_for @timetrack, :html=> {:id=> "timetrack-form", :class=>"form-inline"} do |f|
  = f.text_field :date, {:class => "hidden"}

  .input-append
    = f.text_field :start, :placeholder => "hh:mm"
    %button.btn.now
      %i.icon-time

  .input-append
    = f.text_field :finish, :placeholder => "hh:mm"
    %button.btn.now
      %i.icon-time

  = f.text_field :duration, :class => "input-small", :placeholder => "hh:mm", :readonly=>true
  %button.btn.btn-success{"data-new-record" => "#{@timetrack.new_record?}"}
    %i.icon-ok
    = (@timetrack.new_record?)? "Create" : "Update"

  - unless  @timetrack.new_record?
    = link_to @timetrack, :class => "btn btn-danger destroy", :data => {:confirm => 'Are you sure?'}, :method => :delete do
      %i.icon-trash.icon-white
      Delete
