.row
  .col-md-6.left
    %i.fa.fa-clock-o
    TimeTrack
  .col-md-6.right
    - if user_signed_in?
      %i.fa.fa-clock-o
      %b= Time.zone

      %i.fa.fa-user
      %b= current_user.username
      = link_to('(logout)', destroy_user_session_path, :method => :delete)

.row
  .col-md-12.center
    - if user_signed_in?
      -if notice
        %span.alert.alert-success
          %i.fa.fa-check-circle-o
          = notice
      - if alert
        %span.alert
          %i.fa.fa-warning
          = alert
      -unless notice || alert
        &nbsp;

#timetrack
  = render "timetrack"

#footer
  = balance
