.row.header
  .span6.left
    %h1
      %i.icon-time
      TimeTrack
  .span6.right
    - if user_signed_in?
      %i.icon-time
      %b= Time.zone

      %i.icon-user
      %b= current_user.username
      = link_to('(logout)', destroy_user_session_path, :method => :delete)

//# TODO: growl style for flash messages
.row
  .span12.center
    - if user_signed_in?
      -if notice
        %span.alert.alert-success
          %i.icon-ok-sign
          = notice
      - if alert
        %span.alert
          %i.icon-warning-sign
          = alert
      -unless notice || alert
        &nbsp;

#timetrack
  = render "timetrack"

#footer
  = duration
