!!!
%html
  %head
    %title TimeTrack
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    .container
      .right
        - if user_signed_in?
          %i.icon-user
          = current_user.email
          = link_to 'logout',  sign_out_path, :class=>"brand" 


    #main.container
      .flash.center
        -if notice
          %span.alert.alert-success= notice 
        - if alert
          %span.alert
            %i.icon-warning-sign
            = alert
      = yield
