!!!
%html
  %head
    %title TimeTrack
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body




    #main.container
      - unless user_signed_in?
        .center
          %h1
            %i.icon-time
            TimeTrack

        .flash.center
          -if notice
            %span.alert.alert-success= notice
          - if alert
            %span.alert
              %i.icon-warning-sign
              = alert
      = yield
